
body {
    background-color: #282c34;  
  }
  
.tran-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 100px); */
    /* margin-left: 10vh; */
    /* margin-right: 10vh; */
    grid-gap: 15px;
    /* margin-top: 5%; */
}

.tran-container >div >h3 {
    color: aliceblue;

}
.tran-container {
    
}
.btn {
    display: inline-block;
    display: -moz-inline-box;
    
}
.inputs {
    border: 1px;
    border-color: lavender;
    border-style: solid;
    padding: 1vh;
    color: lavender;
    width: 150px;
    
    /* display: inline-block; */
    /* width: 25vw; */
    /* border-radius: 5px; */
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
    /* border-right: none; */
    /* color:#2c3e50; */
    /* vertical-align: bottom; aligns bottom of two divs with the same parent */

}

.example {
    color: lavender;
    font-size: 25px;
    font-weight: bold;

}
.function {
    border-style: solid;
    border: 10px;
    border-color: lavender;
    padding: 1vh;
    /* width: 150px; */
    color: lavender;


}